.dummy-text {
  font-size: large;
  color: #d58512;
}
.active-dz {
  font-weight: bold;
}
.dz-num-cell {
  text-align: right;
  padding-left: 20px;
}
.dz-credit-list {
  color: green;
}
.dz-debit {
  color: red;
}
.dz-credit-umbuchung {
  color: green;
}
.kandidateset {
  color: white;
  background-color: green;
  font-weight: bold;
  padding-bottom: 5px;
  margin-top: -5px;
}
.kandidate {
  padding-bottom: 5px;
  margin-top: -5px;
}
